h1{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.subtitle{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.nav > ul > li > a{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;

    color: #CDCDCD;
}

.nav-our-pets > ul > li > a{
    color: #545454;
}

.current{
    color: #FAFAFA !important;
    border-bottom: solid 3px;
    border-color: #FFFFFF;
    padding-bottom: 5px;
}

.currents{
    color: #292929 !important;
    border-bottom: solid 3px;
    border-color: #F1CDB3;
    padding-bottom: 5px;
}

h2{
    max-width: 310px;
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;

    color: #FFFFFF;
}

h3{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;

    letter-spacing: 0.06em;

    color: #545454;
}

h4{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;

    letter-spacing: 0.06em;

    color: #545454;
}

h5{
    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 110%;

    letter-spacing: 0.06em;

    color: #545454;
}

p{
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;

    color: #4C4C4C;
}

.p-small{
    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    
    color: #B2B2B2;
}

.header-subtitle{
    color: #CDCDCD;
}

.footer-text-block > h3{
    color: #FFFFFF;
}

.footer-text-block > h4{
    color: #F1CDB3;
}

